//  SECTION FEATURES

.features-list {
	margin: calc(-1 * 15px);

	// tablet
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
	}
}

.features-list__item {
	margin: 15px;

	// tablet
	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 4 * 15px) / 2);
	}
	// desktop
	@media screen and (min-width: $desktop) {
		flex-basis: calc((100% - 8 * 15px) / 4);
	}
}

// FEATURES-LIST TITLE

.features-list__title {
	font-weight: $primary-700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: $title-dark;

	text-transform: uppercase;
	text-align: center;

	margin: 30px 0px 10px 0px;

	// tablet
	@media screen and (min-width: $tablet) {
		text-align: left;
	}
}

// FEATURES-LIST IMAGE

.features-list__image {
	@include centerFlex(flex, center);

	height: 120px;
	border-radius: 4px;
	background-color: $features-bg-color;
}
